body {
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .form-label {
    font-size: 1.2rem;
  }

  .form-control {
    width: 100%;
    font-size: 1.2rem;
  }

  .list-group {
    position: absolute;
    z-index: 1;
    width: 650px;
    margin-left: 80px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.808);

  }

  .list-group-item {
    cursor: pointer;
  }

  .table {
    font-size: 1.2rem;
  }

  th {
    font-weight: bold;
  }

  .pagination {
    margin-top: 2rem;
  }

  .page-item {
    cursor: pointer;
  }

  .page-item.disabled .page-link {
    opacity: 0.5;
    pointer-events: none;
  }
  /* .search-box {
    background-image: url("../page/火箭.png");
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */
  .search-box {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.search-box input[type="text"] {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 200px;
  transition: all 0.2s ease-in-out;
}

.search-box button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-box button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-box:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.search-box:focus-within {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.search-box input[type="text"]:focus {
  transform: translateX(5px);
}
#back_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #ffffff;
  color: #9B89B3;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#back_top:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

